*{padding: 0; margin: 0; box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


li{
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  border: 0;
  &:focus{
    outline: 0;
  }
}

body{
  font-family: 'Poppins', sans-serif;
}


$primary-color:#f04b4b;

.master-section{
  width: 100%;
  height: 130vh;
  border-radius: 0 0 0 300px;
  background-image: url(../assets/WEBSITE\ 2_1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  max-width: 1500px;
  margin: 0 auto;

      @media only screen and (max-width:600px){
         border-radius: 0 0 0 100px;
         height: auto;
         padding-bottom: 60px;
      }
  &::before{
    content: "";
    inset: 0;
    position: absolute;
    border-radius: 0 0 0 300px;
    background: rgb(240,75,75);
    background: radial-gradient(circle, rgba(240,75,75,0.30575980392156865) 12%, rgba(240,75,75,0.8547794117647058) 94%);
    @media only screen and (max-width:600px){
         border-radius: 0 0 0 100px;
    }
  }

  .header{
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
    top: 50px;
    &_inner{
      max-width: 1100px;
      margin: 0 auto;
      padding: 8px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media only screen and (max-width:1100px){
        padding-right: 40px;
      }
    }
    .logo-wrap{
      width: 150px;
      height: 50px;
      display: block;
      text-align: end;
      img{
        height: 100%;
        object-fit: contain;
      }
      @media only screen and (max-width:992px){
        width: 80px;
      }
    }
    .header-menu{
      display: flex;
      align-items: center;
      gap: 40px;
      @media only screen and (max-width:992px){
        gap: 10px;
      }
      @media only screen and (max-width:600px){
        display: none;
      }
      li{
       a{
        font-weight: 600;
        color: black;
        font-size: 17px;
        @media only screen and (max-width:800px){
          font-size: 14px;
          font-weight: 500;
        }
       }
      }
      li:last-child{
        background-color: $primary-color;
        padding: 2px 12px;
        border-radius: 0px 30px 30px 30px;
        a{
          display: flex;
          align-items: center;
          gap: 10px;
          color: #fff;
          font-size: 14px;
          @media only screen and (max-width:800px){
            font-size: 13px;
            font-weight: 500;
          }
        }
        img{
          margin-top: 3px;
        }
      }
    }
  }

  &_content{
    color: #fff;
    margin-top: 120px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    @media only screen and (max-width:1360px){
      margin-top: 90px
    }
    .lg-heading{
      font-size: 65px;
      @media only screen and (max-width:1260px){
        font-size: 45px;
      }
      @media only screen and (max-width:600px){
        font-size: 30px;
      }
    }
    .disc-wrap{
      margin-top: 40px;
      @media only screen and (max-width:1260px){
        margin-top: 20px
      }
      h3{
        font-size: 35px;
        @media only screen and (max-width:1260px){
          font-size: 25px;
        }
        @media only screen and (max-width:600px){
          font-size: 20px;
        }
      }
      p{
        font-size: 20px;
        margin-top: 15px;
        max-width: 500px;
        font-weight: 600;
        @media only screen and (max-width:1260px){
          font-size: 17px;
        }
      }
    }
  }
  .shaped-overly-imgs{
    right: 50px;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 20px;
    justify-content: end;
    position: absolute;
    bottom: -123px;
    @media only screen and (max-width:768px){
      display: none;
    }
    .small-imgs-wrap{
      display: flex;
      gap: 10px;
    &>div{
      width: 100px;
      height: 220px;
      @media only screen and (max-width:1340px){
          width: 80px;
          height: 180px;
      }
      @media only screen and (max-width:1260px){  
          width: 50px;
          height: 100px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .small-1{
      position: relative;
      img{
        border-radius: 220px 0 220px 0;
      }
      &::before{
        content: "";
        position: absolute;
        width: 100px;
        height: 220px;
        border: 1px solid #fff;
         border-radius: 220px 0 220px 0;
        z-index: 4;
        left: -6px;
        top: -5px;
          @media only screen and (max-width:1340px){
            width: 80px;
            height: 180px;
          }
          @media only screen and (max-width:1260px){  
            width: 50px;
            height: 100px;
          }
      }
      }
    }
    .small-2{
      position: relative;
      img{
        border-radius: 0px 220px 0px 220px;
      }
      &::before{
        content: "";
        position: absolute;
        width: 100px;
        height: 220px;
        border: 1px solid #fff;
        border-radius: 0px 220px 0px 220px;
        z-index: 4;
        left: -6px;
        top: -5px;
           @media only screen and (max-width:1340px){
            width: 80px;
            height: 180px;
          }
          @media only screen and (max-width:1260px){  
            width: 50px;
            height: 100px;
          }
      }
    }
    .small-3{
      position: relative;
      img{
         border-radius: 220px 0 220px 0;
      }
      &::before{
          content: "";
          position: absolute;
          width: 100px;
          height: 220px;
          border: 1px solid #fff;
          border-radius: 220px 0 220px 0;
          z-index: 4;
          left: -6px;
          top: -5px;
          @media only screen and (max-width:1340px){
            width: 80px;
            height: 180px;
          }
          @media only screen and (max-width:1260px){  
            width: 50px;
            height: 100px;
          }
      }
    }
    .large-imgs-wrap{
      display: flex;
      gap: 40px;
      @media only screen and (max-width:1340px){
          gap: 20px;
      }
      &>div{
        width: 220px;
        height: 400px;
        @media only screen and (max-width:1340px){
          width: 180px;
          height: 280px;
        }
        @media only screen and (max-width:1260px){
          width: 120px;
          height: 180px;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
         }
      }
      .large-1{
        position: relative;
          img{
           border-radius: 200px 0px 200px 200px;
          }
          &::before{
          content: "";
          position: absolute;
          width: 220px;
          height: 400px;
          border: 1px solid #fff;
          border-radius: 200px 0px 200px 200px;
          z-index: 4;
          left: 14px;
          top: -27px;
          @media only screen and (max-width:1340px){
            width: 160px;   
            height: 280px;
          }
          @media only screen and (max-width:1260px){
            width: 120px;
            height: 180px;
            border-radius: 180px 0px 180px 180px;
          }
      }
        }
      .large-2{
        position: relative;
        margin-top: 80px;
        img{
           border-radius: 200px 200px 200px 0px;
        }
        &::before{
          content: "";
          position: absolute;
          width: 220px;
          height: 400px;
          border: 1px solid #fff;
          border-radius: 200px 200px 200px 0px;
          z-index: 4;
          left: -16px;
          top: 24px;  
          @media only screen and (max-width:1340px){
            width: 160px;
            height: 280px;
          }
          @media only screen and (max-width:1260px){
            width: 120px;
            height: 180px;
            border-radius: 180px 180px 180px 0px;
          }
        }      
      }
    }
  }
  .master-btn{
    padding: 2px 12px;
    border-radius: 0px 30px 30px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: $primary-color;
    font-size: 14px;
    background-color: #f2f0f0;
    margin-top: 20px;
  }
}


.feature-section{
  width: 100%;
  padding-top:150px;
  position: relative;
  overflow-x: hidden;
  max-width: 1500px;
  margin: 0 auto;
  &_heading{
    max-width: 700px;
    margin: 0 auto;
    color: black;
    border: 1px solid #f04b4b;
    border-radius: 100px;
    padding: 20px;
    padding-top: 28px;
    line-height: 35px;
    h1{
      font-size:25px;
      text-align: center;
      margin-bottom: 0;
    }
  }
  &_wrap{
    max-width: 700px;
    margin:0 auto;
    padding-top: 60px;
  }
  &_content{
    display: flex;
    @media only screen and (max-width: 458px){
      padding: 10px;
    }
    @media only screen and (max-width:448px){
      flex-direction: column;
    }
    .feature-section_line:nth-child(2) .feature-section_block > div{
      margin: 0 auto;
    }
    .feature-section_line:nth-child(2) .feature-section_block{
      text-align: center;
    }

    .feature-section_line:nth-child(3) .feature-section_block > div{
      margin-left: auto;
      @media only screen and (max-width:448px){
        margin: 0;
      }
    }
    .feature-section_line:nth-child(3) .feature-section_block{
      text-align: end;
      margin-bottom: 15px;
    }

    .feature-section_line:nth-child(1) .feature-section_block{
      margin-bottom: 15px;
    }
    .center-x{
      margin: 30px 0;
      padding: 15px;
      margin-bottom: 90px;
      @media only screen and (max-width:448px){
        margin: 0;
      }
    }
    .emp{
      @media only screen and (max-width:448px){
        flex-direction: column;
        display: none;
      }
    }
  }
  &_line{
    flex-grow: 1;
    @media only screen and (max-width: 768px){
      flex-grow: unset;
      margin: auto;
    }
  }
  &_block{
    width: 230px;
    flex-grow: 1;
    height: 150px;
    border: 1px solid #fff;
        @media only screen and (max-width: 768px){
      width: 170px;
    }
     @media only screen and (max-width: 600px){
      width: 130px;
    }
            @media only screen and (max-width: 448px){
        text-align: center !important;
        }
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &>div{
      width: 100px;
      height: 100px;
      background-color: #EF3535;
      border-radius: 45px 0 45px 0;
      position: relative;
      box-shadow: 0 0 20px $primary-color;
      h4{
        @media only screen and (max-width: 448px){
        text-align: center;
        }
      }
      @media only screen and (max-width: 448px){
        width: 100%;
      }
      img{
        width: 40px;
        height: 40px;     
        object-fit: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      } 
    }
  }
  .choper{
    position: absolute;
    left: -35px;
    top: 0;
    img{
      transform: rotate(170deg);
      width: 200px;
      height: 200px;
      object-fit: contain;
    }
  }
  .arrow-lines{
    position: absolute;
    top: -16px;
    z-index: -1;
    left: 49%;
    transform: translateX(-50%);
    width: 85%;
    @media only screen and (max-width:768px){
      display: none;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .kitchen{
    position: absolute;
    right: -40px;
    top: 50%;
    @media only screen and (max-width:768px){
      right: -30px;
      top: 28%; 
    }
    img{
      width: 200px;
      height: 200px;
      object-fit: contain;
      transform: rotate(28deg);
      @media only screen and (max-width:768px){
        width: 150px;
        height: 150px;
      }
    }
  }
}

.chef-market{
  position: relative;
  &_wrap{
    padding: 50px 0;
  }
  .chef-heading{
    max-width: 550px;
    margin: 0 auto;
    border-radius: 60px;
    border: 1px solid $primary-color;
    text-align: center;
    padding: 10px;
    h1{
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
      @media only screen and (max-width:600px){
        font-size: 25px; 
      }
      span{
        color: $primary-color;
      }
    }
  }
  .cart{
    position: absolute;
    left: -35px;
    top: 70px;
    z-index: 2;
    @media only screen and (max-width:600px){
     top: 130px;
    }
    img{
      transform: rotate(23deg);
      width: 240px;
      height: 240px;
      object-fit: contain;
      @media only screen and (max-width:600px){
        width: 130px;
      }
    }
  }
  .girl{
    position: absolute;
    right: 0px;
    top: -173px;
    width: 460px;
    z-index: -1;
    @media only screen and (max-width:1024px){
      top: 90px;
      width: 240px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .chef-sldier-wrap{
    width: 100%;
    background-image: url(../assets/master-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 370px 370px 100px 100px;
    z-index: 1;
    padding-top: 100px;
    &::before{
      content: "";
      inset: 0;
      position: absolute;
      border-radius: 370px 370px 0 0;
      background: rgb(240,75,75);
      border-radius: 370px 370px 100px 100px;
      background: radial-gradient(circle, rgba(240, 75, 75, 0.6) 11%, rgba(240, 75, 73, 0.9) 58%)
    }
    .heading-wrap{
      max-width: 500px;
      border-radius:100px 0px 100px 0px;
      background-color: #fff;
      margin: 0px auto 0 auto;
      position: relative;
      z-index: 3;
      padding: 10px 20px;
      box-shadow: 0 0 20px rgba($color: #000000, $alpha: .6);
      @media only screen and (max-width:600px){
       max-width: 300px;
      }
      h1{
        text-align: center;
        color: $primary-color;
        font-weight: 500;
      @media only screen and (max-width:600px){
        font-size: 20px;
      }
      }
    }
    .shadow-effect {
      background: #fff;
      border-radius: 45px;
      text-align: center;
      border: 1px solid #ececec;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
      &_header{
        border-radius: 0 0 30px 30px;
        box-shadow: 0 19px 38px rgb(0 0 0 / 10%), 0 15px 12px rgb(0 0 0 / 48%);
        h2{
          font-size: 27px;
          padding: 25px;
          line-height: 35px;
        }
      }
    }
    .testimonials{
      padding-top: 100px;
    }
    #customers-testimonials .shadow-effect p {
    font-size: 17px;
    line-height: 1.5;
    font-weight: 400;
    padding: 50px 40px;
    text-align: start;
    word-break: break-all;
    padding-bottom: 60px;
    word-spacing: 5px;
    }
    #customers-testimonials .item {
      text-align: center;
      padding: 50px 20px;
      margin-bottom: 80px;
      transform: scale3d(0.8, 0.8, 1);
      transition: all 0.3s ease-in-out;
    }
    #customers-testimonials .owl-item.active.center .item {
      opacity: 1;
      transform: scale3d(1.1, 1.1, 1.1);
    }
    #customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
    #customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
      transform: translate3d(0px, -50%, 0px) scale(.8);
      border-radius: 50%;
      background-color: #fff;
    }
    #customers-testimonials.owl-carousel .owl-dots {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
    #customers-testimonials.owl-carousel .owl-dots .owl-dot {
      display: inline-block;
    }
    #customers-testimonials.owl-carousel .owl-dots .owl-dot span {
      background: #fff;
      display: inline-block;
      height: 40px;
      margin: 0 2px 5px;
      transform: translate3d(0px, -50%, 0px) scale(0.3);
      transition: all 250ms ease-out 0s;
      width: 40px;
      border-radius: 50%;
    }
  }
}

.dishes-wrap{
 &_content{
  padding-top: 100px;
  .heading{
    max-width: 900px;
    margin: 0 auto;
    h4{
      font-size: 21px;
      color: #fff;
      font-weight: 700;
      text-align: center;
      background-color: $primary-color;
      border-radius: 80px;
      padding: 30px;
    }
  }
  .heading-wrap{
    text-align: center;
    width: 400px;
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    h1{
      position: absolute;
      top: 50%;
      width: 100%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: #fff;
    }
  }
  .slider-bg-wrap{
    max-width: 700px;
    margin: 40px auto 0 auto;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) -98%, rgba(255, 14, 14, 0.787552521) 60%);
    height: 800px; 
    border-radius: 310px;
    overflow-y: hidden;
    .testimonials{
      margin-top: 200px;
    }
    .shadow-effect_img{
      margin-right: 100px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }



    #products-testimonials .item {
      text-align: center;
      padding: 50px 20px;
      margin-bottom: 80px;
      // transform: scale3d(0.8, 0.8, 1);
      transition: all 0.3s ease-in-out;
      width: 400px;
    }
    #products-testimonials .owl-item.active.center .item {
      opacity: 1;
      // transform: scale3d(1.1, 1.1, 1.1);
    }
    #products-testimonials.owl-carousel {
        transform: rotate(90deg);
    }
    #products-testimonials.owl-carousel .item{
     transform: rotate(-90deg);
     margin: auto;
    }
    #products-testimonials.owl-carousel .owl-dots .owl-dot.active span,
    #products-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
      transform: translate3d(0px, -50%, 0px) scale(.8);
      border-radius: 50%;
      background-color: #fff;
    }
    #products-testimonials.owl-carousel .owl-dots {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
    #products-testimonials.owl-carousel .owl-dots .owl-dot {
      display: inline-block;
    }
    #products-testimonials.owl-carousel .owl-dots .owl-dot span {
      background: #fff;
      display: inline-block;
      height: 40px;
      margin: 0 2px 5px;
      transform: translate3d(0px, -50%, 0px) scale(0.3);
      transition: all 250ms ease-out 0s;
      width: 40px;
      border-radius: 50%;
    }
  }
 } 
}

.location{
  width: 100%;
  .location-wrap{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    @media only screen and (max-width:1188px){
      flex-direction: column;
    }
    .location-img{
      width: 500px;
      height: 500px;
      @media only screen and (max-width:600px){
        width: 400px;
        height: 400px;
      }
      @media only screen and (max-width:600px){
        width: 300px;
        height: 300px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .location-text{
      max-width: 700px;
      margin-left: -122px;
      position: relative;
      z-index: -1;
      top: 47px;
      @media only screen and (max-width:1188px){
        position: unset;
        margin-left: unset;
      }
      h1{
        border-radius: 60px;
        border: 2px solid $primary-color;
        line-height: 35px;
        padding: 30px;
        span{
          color: $primary-color;
        }
      }
    }
  }
}

.brand-section{
  width: 100%;
  .heading-wrap{
  text-align: center;
  width: 400px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 100px;
  @media only screen and (max-width:600px){
    width: 300px;
    margin-bottom: 70px;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  h1{
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
  }
  }
  .brands-wrap{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .brands-wrap_item{
      flex-grow: 1;
      height: 180px;
      @media only screen and (max-width:992px){
        height: 100px;
      }
      @media only screen and (max-width:600px){
        width: 50%;
        margin-bottom: 15px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}




.footer{
  width: 100%;
  background-image: url(../assets/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .footer-content_wrap{
    display: flex;
    margin: 0 auto;
    gap: 30px;
    align-items: center;
    @media only screen and (max-width:768px){
      flex-direction: column;
    }
    &>div{
      width: 30%;
      @media only screen and (max-width:768px){
        width: 90%;
        margin: 0 auto;
     }
    }
  }
  .person-section{
    // width: 30%;
    position: relative;
    height: 450px;
    // background-color: red;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  .input-wrap{
    padding-top: 100px;
    @media only screen and (max-width:768px){
      padding-top: 0;
    }
    .input_group{
      display: flex;
      flex-direction: column;
      label{
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        padding-left: 20px;
      }
      input, textarea{
        background-color: #f9e5e5;
        border: 0;
        font-size: 18px;
        padding: 10px;
        border-radius: 30px;
        margin-bottom: 20px;
        &:focus{
          outline: 0;
        }
      }
      textarea{
        height: 100px;
        border-radius: 60px;
        @media only screen and (max-width:768px){
          border-radius: 30px;
        }
      }
    }
  }
  .map-section{
    .map-section_wrap{
      text-align: end;
    }
    .map{
      border: 50px;
    }
  }
}


.navbar-mbl{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: #233740d4;
  text-align: center;
  padding-top: 20px;
  transition: all .4s ease;
  z-index: 1000;
}
.navbar-mbl.show-nav{
  left: 0%;
}
.navbar-mbl .menu{
  padding-top: 40px;
  li{
    padding: 10px;
    a{
      color: #fff;
    }
  }
}
.close-navbar{
  position: absolute;
  right: 20px;
  top: 20px; 
}
.close-navbar i{
  font-size: 30px;
}
.toggleBtn-btn{
  display: none;
  @media only screen and (max-width:600px){
    display: block;
  }
}